@import 'reset.css';

body {
    height: 100vh;
    background: #000000cd;
    overflow-y: hidden;
}

.mainContainer {
    width: 100%;
    height: 100%;
}

/* Title */ 
.titleContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.gameTitle {
    font-size: 32px;
    font-weight: 700;
    color: white;
}

/* Buttons */
.buttonContainer {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}

.createNewPlayer {
    background-color: #04AA6D;
}

.createNewMonster {
    background-color: #f44336;
}

.entityChoiceButton {
    padding: 8px 16px;
    background-color: #e7e7e7;
    color: black;
}

/* Game */
.gameContainer {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.entitiesContainer {
    width: 100%;
    height: auto;
    display: flex;
}

.entities {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entitiesInfosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6px 0;
}

.entitiesName {
    color: white;
    margin: 6px 0;
}

.heroGif {
    width: 170px;
    height: 92px;
    transform: rotateY(180deg);
    margin: 12px 0;
}

.monsterGif {
    width: 170px;
    height: 92px;
    margin: 12px 0;
}
